

<div class="center jumbotron">
  <h1>Welcome to the alpha blog</h1>
  
  <p><%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg "%></p>
</div>

<%= link_to 'My Blog articles', articles_path %>